body {
    background-color: darkred;
    font-family: "Arial", sans-serif;
}

h3 {
    text-align: center;
    color: greenyellow
}
p {text-align: center;}

li {margin-left: 40%}

p, li {
    font-size: 3em;
    color: orangered;
}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-color: black;
    border-width: 10px;
}