body {
    background-color: coral;
}

h1 {
    font-size: 10em;
    text-align: center;
    color: greenyellow

}

p {
    font-size: 3em;
    text-align: center;
    color: darkmagenta;
}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}